.footer{
    display: flex;
    width: 95vw;
    height: auto;
    justify-content: space-between;
    padding: 30vh 4vh 4vh 4vh;
    background-image: url(./images/WhatsApp\ Image\ 2025-03-01\ at\ 10.10.26\ AM.jpeg);
    background-size: cover;
    background-position: center;
    align-items: center;
    
    
}


.address h4 {
    font-size: 2.4vh;
    width: 26vw;
    font-weight: 300;
    color: blue;
    
    
}
.Logo img{
    height: 6.5vh;
}
.Socialicon{
    display: flex;
    align-items: center;
    gap: 2vh;
}
.Social{
    font-size: 3vh;
    color: blue;
    
}

.footerMiddle h4{
    font-weight: 300;
    color: blue;
    

}
.footerMiddle h3{
    color: blue;
}
.GetinTouch h3{
    font-size: 5vh;
    font-weight: 300;
    text-align: center;
    color: blue;
    
    
}
.rightBottom{
    display: flex;
    gap: 4vh;

    
    
}
.rightBottom1{
    display: flex;
    flex-direction: column;

    
}
.rightBottom2{
    display:flex;
    flex-direction: column;
    
}
.rightMiddle{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}
.rightBottom input{
    height: 6vh;
    width: 15vw;
    border: 1px solid blue;
    
    
}
.rightMiddle textarea{
    height: 13vh;
    border: 1px solid blue;
    width: 32.4vw;
}
.GetButton button{
    background-color: blue;
    color: white;
    margin-top: 2vh;
    height: 6vh;
    width: 35vw;
    width: 33vw;
    font-size: 2.8vh;
}
